<div class="card">
   <div class="card-body">
    <h6 class="fs-6 mb-2 fw-medium text-uppercase text-primary">4 New opiniooons</h6>
    <% following_opinions.each do |opinion|%>
      <div class=" d-flex">
        <div class="flex-shrink-0">
          <%= image_tag opinion.user.photo, class: 'rounded-3 small-avatar'  %>
        </div>
        <div class="flex-grow-1 ms-3">
          <%= opinion.user.full_name %>
          <%= time_ago_in_words(opinion.created_at) %>
          <p><%= opinion.text %></p>
        </div>
      </div>
    <% end %>
   </div>
</div>