         
<div class="pb-5">
  <div class="row">
    <div class="col p-0">
      <div class="title-section">
        <div class="tweets-text ps-5">Tweets</div>
      </div>
      <div class="container px-5">
        <%= render 'opinion' %>
        <%= render 'opinions_list' %>
      </div>
    </div>
    <div class="col-3 px-3 border-start">
      <%= render 'to_follow' %>
    </div>
  </div>
</div>