<div class="profile d-flex mx-4 align-items-center justify-content-between">
  <div><%= image_tag Current.user.photo, class: 'rounded-3' %></div>
  <div><span class='text-white fs-6' >  
  <%= Current.user.full_name.upcase %>
  </span></div>
</div>

